{% extends "base.html" %}

{% block content %}
<h1 align='center'>Notes</h1>
<ul class='list-group list-group-flush' id="notes">
    {% for note in user.notes%}
    <li class='list-group-item'>{{note.data}}</li>

    <br />
    <div align="right">
        <small>{{note.date}}</small>
    </div>
    
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <div align='center'>
        <br />
        <button class='btn btn-primary' type='submit'>Add note</button>
    </div>
</form>
{% endblock %}